<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/webjars/bootstrap/5.0.0-beta2/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{../css/main.css}" />
    <script type="text/javascript" th:src="@{../js/main.js}" src="../static/js/main.js"></script>
    <title>Admin panel</title>
</head>
<body>
<header th:insert="snippets/header :: header"></header>
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-md-2 pl-0 pr-0 pt-3">
            <div class="nav flex-column nav-pills">
                <a class="nav-link active" href="/admin">Admin</a>
                <a class="nav-link" href="/user">User</a>
            </div>
        </div>
        <div class="col-md-10 bg-light pt-3 ps-5 pe-5">
            <h1>Admin panel</h1>
            <div class="list-group" id="list-tab" role="tablist">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="list-allUsers" data-bs-toggle="list" role="tab" aria-controls="allUsers" href="#allUsers">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="list-newUser" data-bs-toggle="list" role="tab" aria-controls="newUser" href="#newUser">New User</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div id="allUsers" role="tabpanel" aria-labelledby="list-allUsers" class="tab-pane fade show active card">
                    <h4 class="card-header mb-3" >All users</h4>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="all">
                            <div class="mx-4">
                                <table class="table table-striped table-borderless align-middle">
                                    <thead class="table-bordered">
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>Position</th>
                                        <th>Salary</th>
                                        <th>Contact</th>
                                        <th>Login</th>
                                        <th>Roles</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="cur_user : ${users}">
                                        <td th:text="${cur_user.getId()}"></td>
                                        <td th:text="${cur_user.getName()}"></td>
                                        <td th:text="${cur_user.getSurname()}"></td>
                                        <td th:text="${cur_user.getPosition()}"></td>
                                        <td th:text="${cur_user.getSalary()}"></td>
                                        <td th:text="${cur_user.getContact()}"></td>
                                        <td th:text="${cur_user.getLogin()}"></td>
                                        <td th:text="${roleService.getStringWithRoles(cur_user)}"></td>
                                        <td>
                                            <button type="button" class="btn btn-info text-light" data-bs-toggle="modal" th:attr="data-bs-target='#editModal'+${cur_user.getId()}" data-bs-whatever="@edit">Edit</button>
                                            <div th:insert="snippets/edit :: editModal" class="modal fade" th:id="editModal+${cur_user.getId()}" tabindex="-1" aria-labelledby="edit" aria-hidden="true"></div>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#deleteModal'+${cur_user.getId()}" data-bs-whatever="@delete">Delete</button>
                                            <div th:insert="snippets/delete :: deleteModal" class="modal fade" th:id="deleteModal+${cur_user.getId()}" tabindex="-1" aria-labelledby="delete" aria-hidden="true"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="newUser" role="tabpanel" aria-labelledby="list-newUser" class="tab-pane fade card">
                    <h4 class="card-header">Add new user</h4>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="new">
                            <div class="row justify-content-center">
                                <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-sm-8 text-center text-center">
                                    <form th:method="post" th:action="@{/admin/add}" th:object="${new_user}">
                                        <label class="form-label mb-0 fw-bold mt-3">Login: </label>
                                        <input class="form-control form-control-sm" required type="text" th:field="*{login}" id="login"/>

                                        <label class="form-label mb-0 fw-bold mt-3">Password: </label>
                                        <input class="form-control form-control-sm" required type="password" th:field="*{password}" id="password"/>

                                        <label class="form-label mb-0 fw-bold mt-3">Name: </label>
                                        <input class="form-control form-control-sm optional-field-in-add" type="text" th:field="*{name}" id="name"/>

                                        <label class="form-label mb-0 fw-bold mt-3">Surname: </label>
                                        <input class="form-control form-control-sm optional-field-in-add" type="text" th:field="*{surname}" id="surname"/>

                                        <label class="form-label mb-0 fw-bold mt-3">Position: </label>
                                        <input class="form-control form-control-sm optional-field-in-add" type="text" th:field="*{position}" id="position"/>

                                        <label class="form-label mb-0 fw-bold mt-3">Salary: </label>
                                        <input class="form-control form-control-sm" required type="text" th:field="*{salary}" id="salary"/>

                                        <label class="form-label mb-0 fw-bold mt-3">Contact: </label>
                                        <input class="form-control form-control-sm optional-field-in-add" type="text" th:field="*{contact}" id="contact"/>

                                        <label class="form-label mb-0 fw-bold mt-3">Roles: </label>
                                        <select class="form-control form-control-sm" required th:field="*{listRoles}" multiple>
                                            <option th:each="role : ${roleService.getAllRoles()}"
                                                    th:value="${role.getRoleName()}"
                                                    th:text="${role.getRoleName()}">
                                            </option>
                                        </select>
                                        <button type="submit" class="btn btn-success btn-lg mt-3 mb-5">Add new user</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js"></script>
</body>

</html>