<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<div th:fragment="editModal" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit user</h5>
            <button type="button" class="btn-close  btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="editUserForm" onsubmit="updateUser(this, 'PATCH'); return false">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-sm-6 text-center">
                        <label for="id" class="col-form-label">ID</label>
                        <input type="text" class="form-control" readonly required id="id" name="id">

                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name">

                        <label for="surname" class="col-form-label">Surname:</label>
                        <input type="text" class="form-control" id="surname" name="surname">

                        <label for="position" class="col-form-label">Position:</label>
                        <input type="text" class="form-control" id="position" name="position">

                        <label for="salary" class="col-form-label">Salary:</label>
                        <input type="text" class="form-control" required  id="salary" name="salary">

                        <label for="contact" class="col-form-label">Contact:</label>
                        <input type="text" class="form-control" id="contact" name="contact">

                        <label for="login" class="col-form-label">Login:</label>
                        <input type="text" class="form-control" required id="login" name="login">

                        <label for="password" class="col-form-label">Password:</label>
                        <input type="text"  class="form-control" required id="password" name="password">

                        <label for="roles" class="col-form-label">Roles:</label>
                        <select  class="form-control" required name="listRoles" id="roles" multiple>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Edit</button>
            </div>
        </form>
    </div>
</div>


</html>